
*{
    background-color: whitesmoke;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Merriweather", sans-serif;
}

.Header{
   display:flex;
   justify-content: space-between;
   align-items: center;
   padding:15px 10%;
   background-color: whitesmoke;
   border-bottom: .1em solid rgb(88, 88, 88);
}

.Right-material{    
    color: black;
}

#log-toggle{
    border-radius: 10%;
    padding: 2px;
}

#feed-title{
    font-size: 5vh;
    color: black;
    padding: 10px;
    margin: 0 auto;
}

